// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url(https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css);

@font-face {
	font-family: 'Proxima Nova';
	src: url('../static/fonts/ProximaNova-RegularIt.eot');
	src: url('../static/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ProximaNova-RegularIt.woff') format('woff'),
		url('../static/fonts/ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../static/fonts/ProximaNova-LightIt.eot');
	src: url('../static/fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ProximaNova-LightIt.woff') format('woff'),
		url('../static/fonts/ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../static/fonts/ProximaNova-Light.eot');
	src: url('../static/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ProximaNova-Light.woff') format('woff'),
		url('../static/fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../static/fonts/ProximaNova-Extrabld.eot');
	src: url('../static/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ProximaNova-Extrabld.woff') format('woff'),
		url('../static/fonts/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../static/fonts/ProximaNova-Black.eot');
	src: url('../static/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ProximaNova-Black.woff') format('woff'),
		url('../static/fonts/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../static/fonts/ProximaNova-Bold.eot');
	src: url('../static/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ProximaNova-Bold.woff') format('woff'),
		url('../static/fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../static/fonts/ProximaNova-Regular.eot');
	src: url('../static/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ProximaNova-Regular.woff') format('woff'),
		url('../static/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../static/fonts/ProximaNova-BoldIt.eot');
	src: url('../static/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/ProximaNova-BoldIt.woff') format('woff'),
		url('../static/fonts/ProximaNova-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
